.App {
  display: flex;
  font-size: 62.5%;
  height: 270px;
  margin-top: 1%;  
}

.Display{
  display: flex;
  justify-content: center;
}

.Display-Back{
  background-color: beige;
  width: 500px;
}

.Header{
  display: flex;
  margin-top: 2% !important;
  background: #D6E3E8B3 !important;
  width: 90%;
}

.Left-Body{
  display: flex;
  justify-content: center;
  background: #E4844F75 !important;
  width: 40% !important;
  margin-top: 0 !important;
}

.Text{
  font-family: 'Nanum Myeongjo', serif;
}