.App {
  display: flex;
}

.Display{
  display: flex;
  justify-content: center;
}

.Display-Back{
  background-color: beige;
  width: 500px;
}

.Header{
  display: flex;
  vertical-align: center;
  margin-top: 2% !important;
  background: #D6E3E8B3 !important;
  width: 90%;
}

.Left-Body{
  display: flex;
  justify-content: center;
  background: #E4844F75 !important;
  /* background: #00B5AD75 !important; */
  width: 40% !important;
  margin-top: 0 !important;
  margin-right: 2% !important;
}

.Right-Body{
  display: flex;
  justify-content: center;
  background: #E4844F75 !important;
  width: 40% !important;
  margin-top: 0 !important;
  margin-left: 2% !important;
}

.Text{
  font-family: 'Nanum Myeongjo', serif;
}