.App{
  display: flex;
  
  background-image: url(images/Desert.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  border-radius: 5%;
  justify-content: center;
  font-family: sans-serif;
  font-size: 62.5%;
  /* height: 270px; */
  height: 100%;
  /* margin-top: 1%; */
  /* opacity: .8; */
  
  z-index: -1;
}
