.App{
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  /* height: 100%;
  width: 100%; */
  /* opacity: .8;
  filter: alpha(opacity=50); */
  overflow: hidden;
  background-image: url(images/Desert.jpg);
  background-size: cover;                   
  background-repeat: no-repeat;
  background-position: center center; 

  z-index: -1;
}
